# local virtual environment
venv/
# Python cache folders
__pycache__/
*.py[cod]
# pip “egg” files
*.egg-info/
#environment variables
.env
#medical bill images
medicalbills/
#.DS_Store
.DS_Store
#Loveable Uploads
frontend/public/loveable-uploads/
frontend/public/favicon.ico
frontend/public/placeholder.svg
frontend/node_modules/